{
  email admin@upaidown.com
}

{$MAIL_HOSTNAME} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
  }
  reverse_proxy roundcube:80
}

{$JMAP_HOSTNAME} {
  encode zstd gzip
  @management path /admin* /account*
  respond @management 404
  reverse_proxy stalwart:8080
}
